*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    position: absolute;
    z-index: 2;
}
div#logo{
    position: relative;
    background-color: aliceblue;
    top: 0;
    width: 80px;
    height: 80px;
    z-index: 1;
}
nav#menu{
    position: absolute;
    top: 0;
    width: 70%;
    height: 80px;
}
nav#menu ul{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:  center ;
    justify-content: right;
    column-gap: 3%;
}
nav#menu ul li {
    list-style: none;
}
nav#menu ul li a {
    text-decoration: none;
    color: #f2f4f3;
    font-weight:bold ;
    font-size: larger;

}
nav#menu ul li a:hover {
    color: #a9927d;
}
svg {
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left:0;
    transform: rotate(180deg) scaleX(-1);
}
div#citat {
    position: absolute;
    top: 20%;
    left: 10%;
    color: #f2f4f3;
    font-weight: bold;
}

div#citat p {
    font-size: 28pt;
    font-family: "Arial";
}
div#citat span {
    font-size: 20pt;
    font-family: "Garamond";
}

div#knihyPozadie {
    position: relative;
    top: -5px;
    background: #a9927d ;
}

div#uvodnytext {
    left: 5%;
    right: 5%;
    position: absolute;
    color: #f2f4f3;
    font-weight: bold;
    z-index: 1;
    top: -160px;
}
div#uvodnytext p {
    font-size: 20pt;
}
div#uvodnytext span {
    font-size: 14pt;
}

.obrazok {
    height: 410px;
    width: 290px;
}
div#ObrazkyKnih {
    width: 100%;
    min-height: 430px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

div#pozadieHome {
    width: 100%;
    height: 120vh;
    background: url("https://preview.redd.it/exrqtbmul1d61.jpg?auto=webp&s=b5ed64b43fae7ba4dd8783a7e39a5fd8539fcbc8");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text {
    color: transparent;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
    font-size: 40pt;
    font-weight: bold;
}

.text.active {
    color: #a9927d;
    display: block;
}
.obrazkyKnihOdkaz {
    position: relative;
}

main {
   display: flex;
}

/*clanok*/
.titulka {
    padding-top: 20px;
}

div#stredStranky {
    top: 50px;
    width: 35.5%;
    position: relative;
    margin-left: 30%;
}

.teloClanku {
    background: #5e503f ;
    width: 100%;
    height: 110vh;
}

.vyhladavaciPanel {
    background: rgba(165, 71, 27, 0.47);
    width: 250px;
    height: 800px;
    margin-left: auto;
}
.slideShow {
    padding-top: 10px;
    position: relative;
    width: 100%;
    height: 200px;
}

.panelText p {
    padding-top: 10%;
    font-size: 20pt;
    font-weight: bold;
    color: #f2f4f3;
    text-align: center;
}

.panelText span {
    font-size: 13pt;
    color: #f2f4f3;
    flex-wrap: wrap;
    padding-left: 5%;
}

.panelText {
    padding-left: 5%;
}

.textClanku {
    padding-left: 2%;
    padding-right: 2%;
}

.textClanku p {
    color: #f2f4f3;
    text-indent: 20px;
}

/*diskusia*/
.login {
    background: #a9927d;
    position: absolute;
    width: 205px;
    right: -30vw;
    top: 0;
    display: flex;
    flex-direction: column;
}

#registracia {
    position: absolute;
    width: 600px;
    height: 400px;
    background: #a9927d;
    margin-top: 150px;
    right: 0%;
}

div#RegistraciaMojeUdaje {
    position: absolute;
    flex-direction: column;
    align-items: center;
    display: flex;
    top: 12%;
    left: 6%;
    width: 250px;
    height: 300px;
}

div#RegistraciaSocialne {
    position: absolute;
    flex-direction: column;
    align-items: center;
    display: flex;
    top: 27%;
    right: 0;
    width: 250px;
    height: 300px;
}

input[type="text"], input[type="password"] {
    margin-bottom: 20px;
    width: 200px;
    height: 30px;
    font-size: 16px;
}

input[type="submit"], input[type="registracia"] {
    width: 200px;
    height: 20px;
    background: #A5471B;
    color: #f2f4f3;
    cursor: pointer;
    text-align: center;
}

button.RegistraciaS {
    width: 220px;
    height: 40px;
    color: #f2f4f3;
    margin-bottom: 10px;
    cursor: pointer;
}

div#diskusiaText {
    left: 0;
    position: absolute;
    left: 6%;
    margin-top: 10%;
    width: 600px;
    height: 510px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #a9927d;
}
 /*loginPage*/

div#profil {
    background-color: #f2f4f3;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 75%;
    top: 10%;
    position: absolute;
}

div#profiloveOkno {
    background-color: #a9927d;
    left: 5%;
    top: 5%;
    position: absolute;
    width: 30%;
    height: 70%;
}

div#profiloveUdaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f2f4f3;
    font-size: 20pt;
    font-weight: bold;
    background-color: #a9927d;
    right: 5%;
    top: 5%;
    position: absolute;
    width: 55%;
    height: 90%;
}

div#profilFoto {
    /*bacground_url*/
    top: 10%;
    left: 22%;
    display: inline-block;
    width: 14vw;
    height: 14vw;
    position: relative;
    background-color: maroon;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}

div#menoLogin {
    top: 15%;
    left: 10%;
    width: 80%;
    height: 15%;
    position: relative;
    background-color: maroon;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}
div#main-div {
    padding-top: 20%;
    display: flex;
    flex-flow: column;
}

div#odhlasenie input[type="submit"] {
    width: 200px;
    height: auto;
    background: #A5471B;
    color: #f2f4f3;
    cursor: pointer;
    text-align: center;
    font-size: 15pt;
}
/*forum*/

div#obrazokForum {
    width: 70%;
    height: 120px;
    background-color: #A5471B;
    position: absolute;
    top: 80px;
    left: 15%;
    right: 15%;
    color: white;
    font-weight: bold;
}
div#textForum {
    display: flex;
    flex-flow: column;
    margin-top: 2%;
    margin-left: 2%;
}

div#kategoria {
    color: white;
    position: absolute;
    top: 35%;
    left: 15%;
}
#button {
    top: 10%;
    left: 80%;
    position: absolute;
    border-radius: 25%;
    background-color: transparent;
    color: white;
    border: 3px solid #55ACEE;
    width: 15%;
    height: 30%;
}
#button:hover {
    background-color: #55ACEE;
}
div#kategoria button {
    background-color: #55ACEE;
    border: 2px solid #32508E;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 12pt;
}
div#kategoria :hover {
    background-color: #32508E;
}


/*930 šírka*/
@media screen and (max-width: 930px) {
    div#profil {
        left: 0;
        right: 0;
        width: 100%;
        height: 85%;
    }
    div#profilFoto {
        left:27%
    }
}

@media screen and (max-width: 740px) {
    div#profiloveUdaje {
        top: 50%;
        left: 0px;
        right: 0px;
        width: 100%;
    }
    div#profiloveOkno {
        left: 0;
        top: 5%;
        width: 100%;
        height: 50%;
    }
    div#profilFoto {
        top: 10%;
        left: 36%;
        width: 25vw;
        height: 25vw;
    }

}

@media screen and (max-width: 425px){

    div#main-div {
        padding-top: 10%;
        font-size: 14pt;
        width: 100%;
    }
}

@media screen and (max-width: 350px){
    div#main-div {
        font-size: 20pt;
        width: 50%;
        display: flex;
        flex-flow: column;
        padding-left: 20vw;
        margin-top: -30%;

    }
}

/*diskusia*/
@media screen and (max-width: 1280px) {
    div#diskusiaText {
        position: relative;
        width:fit-content ;
        margin-right: 7%;
        margin-top: 10px;
        left: 5px;
    }
    div#registracia {
        position: relative;
    }

    div#posunSirkaScreenu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 610px)  {
    div#RegistraciaSocialne{
        top: 70%;
        width: 100%;
    }
    div#RegistraciaMojeUdaje{
        width: 100%;
        left: 0%;
    }
    div#registracia {
        width: 100%;
        margin-top: 300px;
        height: 500px;
    }
    .login{
        width: 101vw;
        align-items: center;
        top: 75%;
        right: 0;
        left: 0;
    }

    nav#menu{
        top: -30px;
    }
}

/*CLANOK*/
@media screen and (max-width: 1350px){
    div#stredStranky {
        margin-left: 0%;
        width: auto;
    }

    .vyhladavaciPanel {
        position: relative;
        height: 800px;
    }
    .teloClanku  {
        height: 1900px;
    }
}

/*CLANOK*/
@media screen and (max-width: 580px )  {

    div#stredStranky {
        width: 100vw;
    }

    .vyhladavaciPanel {
        padding-left: 20%;
        padding-right: 20%;
        width: 60%;
        height: auto;
        top: 1600px;
        position: absolute;
    }

    nav#menu {
        padding-left:32%;
    }
}

/*HOME_text*/
@media screen and (max-width: 1050px) and (max-height: 1370px) {
    div#uvodnytext {
        top: -87px;
    }
}

@media screen and (max-width: 420px) and (max-height: 850px) {
    /*HOME_text*/
    div#uvodnytext {
        position: relative;
        top: -40px;
        left: 0px;
    }
}
@media screen and (min-width: 1400px) and (min-height: 900px){
    /*HOME_vlnka*/
    svg{
        min-width: 1400px;
        min-height: 250px;
    }
}